<md-content class="topSpace" layout="row">
    <span flex></span>
    <div layout="column" flex="50">
        <header>
            <h1>{{PartialTest}}</h1>
            <div class="section-title-divider"></div>
        </header>
        <div>
            <div>
                <p>
                    YOU DEPEND ON OTHER PROJECTS. <br/>
                    YOU WANT TO STAY UP TO DATE. <br/>
                    MARVIN'S GOT YOUR BACK.
                </p>
            </div>
        </div>
    </div>
    <span flex></span>
</md-content>
