<div>
    <md-list>
        <md-subheader class="md-no-sticky">dependencies</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="(name, dependency) in jsonMock.dependencies">
            <md-checkbox ng-model="dependency.done"></md-checkbox>
            <div class="md-list-item-text" >
                <h3 >{{name}}</h3>
                <p>latest: {{dependency.latest}}</p>
                <p>required: {{dependency.required}}</p>
            </div>
        </md-list-item>
        <md-subheader class="md-no-sticky">dependencyManagement</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="(name, dependency) in jsonMock.dependencyManagement">
            <md-checkbox ng-model="dependency.done"></md-checkbox>
            <div class="md-list-item-text" >
                <h3 >{{name}}</h3>
                <p>latest: {{dependency.latest}}</p>
                <p>required: {{dependency.required}}</p>
            </div>
        </md-list-item>
    </md-list>
</div>
