<div>
    <md-list>
        <md-subheader class="md-no-sticky">dependencies</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="(name, dependency) in jsonMock.dependencies">
            <md-checkbox ng-model="dependency.done"></md-checkbox>
            <div class="md-list-item-text" >
                <h3 >{{name}}</h3>
                <p>latest: {{dependency.latest}}</p>
                <p>required: {{dependency.required}}e</p>
            </div>
        </md-list-item>
        <md-subheader class="md-no-sticky">dependencyManagement</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="(name, dependency) in jsonMock.dependencyManagement">
            <md-checkbox ng-model="dependency.done"></md-checkbox>
            <div class="md-list-item-text" >
                <h3 >{{name}}</h3>
                <p>latest: {{dependency.latest}}</p>
                <p>required: {{dependency.required}}e</p>
            </div>
        </md-list-item>
    </md-list>
    <div class="dep-table">
        <table cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>Dependency</th>
                <th><span class="visuallyhidden">Changes</span></th>
                <th>Required</th>
                <th>Stable</th>
                <th>Latest</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/abbrev">abbrev</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.5</td>
                <td class="stable">1.0.9</td>
                <td class="latest">1.0.9</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/archy">archy</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">1.0.0</td>
                <td class="stable">1.0.0</td>
                <td class="latest">1.0.0</td>
                <td class="status"><span class="sqr uptodate pinned" title="pinned uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/bower-config">bower-config</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.4.0</td>
                <td class="stable">1.4.0</td>
                <td class="latest">1.4.0</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/bower-endpoint-parser">bower-endpoint-parser</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^0.2.2</td>
                <td class="stable">0.2.2</td>
                <td class="latest">0.2.2</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/bower-json">bower-json</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^0.8.1</td>
                <td class="stable">0.8.1</td>
                <td class="latest">0.8.1</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/bower-logger">bower-logger</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^0.2.2</td>
                <td class="stable">0.2.2</td>
                <td class="latest">0.2.2</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/bower-registry-client">bower-registry-client</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.0</td>
                <td class="stable">1.0.0</td>
                <td class="latest">1.0.0</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/cardinal">cardinal</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="cardinal"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">0.4.4</td>
                <td class="stable">1.0.0</td>
                <td class="latest">1.0.0</td>
                <td class="status"><span class="sqr outofdate pinned" title="pinned outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/chalk">chalk</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.0</td>
                <td class="stable">1.1.3</td>
                <td class="latest">1.1.3</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/chmodr">chmodr</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.2</td>
                <td class="stable">1.0.2</td>
                <td class="latest">1.0.2</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/configstore">configstore</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^2.0.0</td>
                <td class="stable">2.1.0</td>
                <td class="latest">2.1.0</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/decompress-zip">decompress-zip</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="decompress-zip"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">^0.2.1</td>
                <td class="stable">0.3.0</td>
                <td class="latest">0.3.0</td>
                <td class="status"><span class="sqr outofdate unpinned" title="outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/destroy">destroy</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.3</td>
                <td class="stable">1.0.4</td>
                <td class="latest">1.0.4</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/findup-sync">findup-sync</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="findup-sync"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">^0.3.0</td>
                <td class="stable">0.4.3</td>
                <td class="latest">0.4.3</td>
                <td class="status"><span class="sqr outofdate unpinned" title="outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a
                        href="https://www.npmjs.com/package/fs-write-stream-atomic">fs-write-stream-atomic</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">1.0.8</td>
                <td class="stable">1.0.8</td>
                <td class="latest">1.0.8</td>
                <td class="status"><span class="sqr uptodate pinned" title="pinned uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/fstream">fstream</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.3</td>
                <td class="stable">1.0.10</td>
                <td class="latest">1.0.10</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/fstream-ignore">fstream-ignore</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.2</td>
                <td class="stable">1.0.5</td>
                <td class="latest">1.0.5</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/github">github</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon" data-dep-name="github"><i
                            class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">^0.2.3</td>
                <td class="stable">6.1.0</td>
                <td class="latest">6.1.0</td>
                <td class="status"><span class="sqr outofdate unpinned" title="outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/glob">glob</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon" data-dep-name="glob"><i
                            class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">^4.3.2</td>
                <td class="stable">7.1.1</td>
                <td class="latest">7.1.1</td>
                <td class="status"><span class="sqr outofdate unpinned" title="outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/graceful-fs">graceful-fs</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^4.1.3</td>
                <td class="stable">4.1.11</td>
                <td class="latest">4.1.11</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/handlebars">handlebars</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^4.0.5</td>
                <td class="stable">4.0.6</td>
                <td class="latest">4.0.6</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/inquirer">inquirer</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="inquirer"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">0.10.0</td>
                <td class="stable">1.2.3</td>
                <td class="latest">1.2.3</td>
                <td class="status"><span class="sqr outofdate pinned" title="pinned outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/is-root">is-root</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.0</td>
                <td class="stable">1.0.0</td>
                <td class="latest">1.0.0</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/junk">junk</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon" data-dep-name="junk"><i
                            class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">^1.0.0</td>
                <td class="stable">2.0.0</td>
                <td class="latest">2.0.0</td>
                <td class="status"><span class="sqr outofdate unpinned" title="outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/lockfile">lockfile</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.0</td>
                <td class="stable">1.0.2</td>
                <td class="latest">1.0.2</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/lru-cache">lru-cache</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="lru-cache"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">^2.5.0</td>
                <td class="stable">4.0.1</td>
                <td class="latest">4.0.1</td>
                <td class="status"><span class="sqr outofdate unpinned" title="outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/md5-hex">md5-hex</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.2</td>
                <td class="stable">1.3.0</td>
                <td class="latest">1.3.0</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/mkdirp">mkdirp</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon" data-dep-name="mkdirp"><i
                            class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">0.5.0</td>
                <td class="stable">0.5.1</td>
                <td class="latest">0.5.1</td>
                <td class="status"><span class="sqr outofdate pinned" title="pinned outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/mout">mout</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon" data-dep-name="mout"><i
                            class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">^0.11.0</td>
                <td class="stable">1.0.0</td>
                <td class="latest">1.0.0</td>
                <td class="status"><span class="sqr outofdate unpinned" title="outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/nopt">nopt</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^3.0.1</td>
                <td class="stable">3.0.6</td>
                <td class="latest">3.0.6</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/opn">opn</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^4.0.0</td>
                <td class="stable">4.0.2</td>
                <td class="latest">4.0.2</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/p-throttler">p-throttler</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="p-throttler"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">0.1.1</td>
                <td class="stable">1.0.2</td>
                <td class="latest">1.0.2</td>
                <td class="status"><span class="sqr outofdate pinned" title="pinned outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/promptly">promptly</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="promptly"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">0.2.0</td>
                <td class="stable">2.1.0</td>
                <td class="latest">2.1.0</td>
                <td class="status"><span class="sqr outofdate pinned" title="pinned outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/q">q</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.1.2</td>
                <td class="stable">1.4.1</td>
                <td class="latest">2.0.3</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/request">request</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="request"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">2.67.0</td>
                <td class="stable">2.79.0</td>
                <td class="latest">2.79.0</td>
                <td class="status"><span class="sqr outofdate pinned" title="pinned outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/request-progress">request-progress</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="request-progress"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">0.3.1</td>
                <td class="stable">2.0.1</td>
                <td class="latest">2.0.1</td>
                <td class="status"><span class="sqr outofdate pinned" title="pinned outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/requireg">requireg</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^0.1.5</td>
                <td class="stable">0.1.6</td>
                <td class="latest">0.1.6</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/resolve">resolve</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.1.7</td>
                <td class="stable">1.1.7</td>
                <td class="latest">1.1.7</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/retry">retry</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="retry"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">0.6.1</td>
                <td class="stable">0.10.0</td>
                <td class="latest">0.10.0</td>
                <td class="status"><span class="sqr outofdate pinned" title="pinned outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/rimraf">rimraf</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^2.2.8</td>
                <td class="stable">2.5.4</td>
                <td class="latest">2.5.4</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/semver">semver</a>
                    <ul class="vulns">
                        <li><a href="https://nodesecurity.io/advisories/semver_regular-expression-denial-of-service"><i
                                class="fa fa-exclamation-circle"></i><!-- react-text: 965 --> <!-- /react-text -->
                            <!-- react-text: 966 -->Regular Expression Denial of Service<!-- /react-text --></a></li>
                    </ul>
                </td>
                <td class="changes"></td>
                <td class="required">^2.3.0</td>
                <td class="stable">5.3.0</td>
                <td class="latest">5.3.0</td>
                <td class="status"><span class="sqr insecure unpinned" title="insecure"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/semver-utils">semver-utils</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.1.1</td>
                <td class="stable">1.1.1</td>
                <td class="latest">1.1.1</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/shell-quote">shell-quote</a>
                    <ul class="vulns">
                        <li><a href="https://nodesecurity.io/advisories/shell-quote_command-injection"><i
                                class="fa fa-exclamation-circle"></i><!-- react-text: 990 --> <!-- /react-text -->
                            <!-- react-text: 991 -->Potential Command Injection<!-- /react-text --></a></li>
                    </ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.4.2</td>
                <td class="stable">1.6.1</td>
                <td class="latest">1.6.1</td>
                <td class="status"><span class="sqr insecure unpinned" title="insecure"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/stringify-object">stringify-object</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="stringify-object"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">^1.0.0</td>
                <td class="stable">3.1.0</td>
                <td class="latest">3.1.0</td>
                <td class="status"><span class="sqr outofdate unpinned" title="outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/tar-fs">tar-fs</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.4.1</td>
                <td class="stable">1.14.0</td>
                <td class="latest">1.14.0</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/tmp">tmp</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon" data-dep-name="tmp"><i
                            class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">0.0.28</td>
                <td class="stable">0.0.31</td>
                <td class="latest">0.0.31</td>
                <td class="status"><span class="sqr outofdate pinned" title="pinned outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/update-notifier">update-notifier</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="update-notifier"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">^0.6.0</td>
                <td class="stable">1.0.2</td>
                <td class="latest">1.0.2</td>
                <td class="status"><span class="sqr outofdate unpinned" title="outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/user-home">user-home</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes">
                    <div><a href="#" title="View closed issues and commits" class="changes-icon"
                            data-dep-name="user-home"><i class="fa fa-file-code-o"></i></a>
                        <noscript></noscript>
                    </div>
                </td>
                <td class="required">^1.1.0</td>
                <td class="stable">2.0.0</td>
                <td class="latest">2.0.0</td>
                <td class="status"><span class="sqr outofdate unpinned" title="outofdate"></span></td>
            </tr>
            <tr>
                <td class="dep"><a href="https://www.npmjs.com/package/which">which</a>
                    <ul class="vulns"></ul>
                </td>
                <td class="changes"></td>
                <td class="required">^1.0.8</td>
                <td class="stable">1.2.12</td>
                <td class="latest">1.2.12</td>
                <td class="status"><span class="sqr uptodate unpinned" title="uptodate"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
